.carousel {
  width: 70%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.carousel-item img{
  width:200px ;
  object-fit: contain;
   
}
.card img{
  height: 200px;
  object-fit: contain;
}


.cart-icon{
  margin-left: 10px;
  color:#FFC107;
  font-size: 2rem !important;
  position: relative;
  bottom: 12px;
}